client/node_modules
client/.next/*
client/.next-builds
client/out
client/.env.local
client/.backup.envlocal
.tanc-ml-app-backend
server/venv
server/db.sqlite
server/iml_db_backup_sep_27_2023.sqlite
server/temp_dataset*
server/data_cache/
server/.env
server/db/sqlite2json
server/db/dummy_data/*
wga_data.csv
__pycache__/
bert_sentence_embeddings.pkl
tate_scrape1.csv
.DS_Store
.python-version
wandb
